
body {
    font-family: Arial, sans-serif;
    background-color: #111210;
    color: #e4e4e4;
    margin: 1rem;
    padding: 0.5rem;
    overflow-x: hidden;


}

.container {
    width: auto;
    max-width: 85%;
    margin: 30px;
    padding: 20px;
}

a {
    color: #00ff40;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #ffffff;
}

h2 {
    color: #ffffff;
    margin-bottom: 10px;
}

.profile-name {

    font-size: 18px;
}

.profile-photo-container {
    width: 300px;
    height: auto;
    position: relative;
    background: linear-gradient(#1a1a1a);
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 8px 16px #1a1a1a;
    overflow: hidden;
    margin: 20px;
    filter: grayscale(100%);
    background-color: transparent;

}

.profile-photo {
    width: 100%;
    height: 200%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
    max-width: 200%;
    max-height: 100%;
    background: #1a1a1a;
    filter: contrast(120%) brightness(0.9);
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0.5, 0.5, 0.5, 0.5);
    mask-image: linear-gradient(to bottom, rgba(26, 26, 26, 1), rgba(26, 26, 26, 0));
    background-color: transparent;


}

.profile-photo:hover {
    filter: grayscale(0%);
    transform: scale(1.05);
}

.profile-section {
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.profile-header {
    display: flex;
    align-items: center;
}



.profile-info {
    flex: 1;
}

.profile-info h1 {
    margin: 0;
    font-size: 28px;
    color: #ffffff;
}

.profile-info p {
    margin: 5px 0;
    font-size: 18px;
    color: #a8a8a8;
}

.profile-details {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.profile-details p {
    font-size: 16px;
    color: #a8a8a8;
    margin: 3px 0;
}

.social-links {
    margin-top: 10px;

}

.social-links a {
    margin-right: 10px;
    color: #00ff40;
    font-size: 25px;
    text-decoration: none;
    transition: color 0.3s ease;

}

.social-links a:hover {
    color: #ffffff;
}

/* Biografía de perfil */

.linea {
    border-top: 1px solid #333;
    margin-top: 20px;
    padding-top: 20px;
}

.profile-bio {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #333;
}

.profile-bio h1 {
    font-size: 30px;
    color: #ffffff;
}

.profile-bio p {
    font-size: 18px;
    color: #e4e4e4;
}

/* Sección de Tecnologías */
.technologies-section {
    padding: 20px;
    border-bottom: 1px solid #333;
}

.technologies-section h1 {
    font-size: 30px;
    color: white;
    /* Color verde para el título */

    margin-bottom: 20px;
}

.technology-tags {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    /* Mantener el espaciado original */
    content: "";
    top: 0;
    left: 0;
    cursor: pointer;
    position: relative;
    padding: 16px 32px;
    color: #FFF;
    font-size: 24px;

}

.tag {
    background: linear-gradient(135deg, #53B365, #33A652);

    color: #ffffff;
    /* Texto blanco */
    padding: 10px 20px;
    /* Mantener el padding original */
    border-radius: 25px;
    font-size: 12px;
    /* Mantener el tamaño original de la fuente */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    /* Mantener la altura original */
    transition: transform 0.3s ease, background 0.3s ease;
    /* Transiciones suaves */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    /* Sombra para dar profundidad */
}

.tag:hover {
    transform: scale(1.05);
    /* Ligero aumento al pasar el cursor */
    background: linear-gradient(135deg, #33A652, #53B365);
    /* Invertir el gradiente al hacer hover */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    /* Aumentar la sombra al hacer hover */
}



.tag span {
    transition: transform 0.3s ease, background 0.3s ease;
    /* Transiciones suaves */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    /* Sombra para dar profundidad */
    padding: 10px 20px;
    /* Mantener padding dentro del span */
}

.tag span:hover {
    transform: scale(1.05);
    /* Ligero aumento al pasar el cursor */
    background: linear-gradient(135deg, #33A652, #53B365);
    /* Gradiente en el fondo del span */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    /* Aumentar la sombra al hacer hover */
    color: #ffffff;
    /* Cambiar color de texto a blanco */
}

/* Sección de Proyectos */

.projects-section {
    border-bottom: 1px solid #333;
    padding: 20px;
    /* Aumentar el padding interno */
    max-width: 800px;
    /* Ancho máximo del contenedor */
    margin: 0 auto;
    /* Centrar el contenedor */
}

.projects-section h1 {
    font-size: 20px;
    color: #ffffff;
    /* Asegúrate de que el título sea legible */
    margin-bottom: 30px;
    /* Aumentar el espacio entre el título y los proyectos */
}

.titulo-proyect {
    margin: 3.4rem;
}

.project-item {
    display: flex;
    align-items: flex-start;
    /* Alineación superior para mejor organización */
    justify-content: flex-start;
    /* Alineación al inicio */
    margin-bottom: 40px;
    /* Aumentar el espacio entre proyectos */
    background-color: #2d3436;
    padding: 15px;
    /* Mayor padding interno para más espacio */
    border-radius: 10px;
    flex-wrap: wrap;
    /* Permitir que el contenido se envuelva */
}

.project-item i {
    font-size: 28px;
    /* Aumenta el tamaño del ícono */
    color: #00ff40;
    margin-right: 15px;
}

.project-item div {
    flex: 1;
    /* El contenido ocupa el espacio restante */
}

.project-item h3 {
    margin: 0;
    font-size: 24px;
    /* Aumenta el tamaño del título */
    color: #ffffff;
}

.project-item p {
    margin: 5px 0;
    font-size: 18px;
    /* Aumenta el tamaño del párrafo */
}

.project-item small {
    color: #F2E6D5;
    font-size: 14px;
    /* Aumenta el tamaño del texto pequeño */
}

.project-tags {
    margin-top: 15px;
    /* Aumentar el espacio entre el contenido y las etiquetas */
    display: flex;
    /* Cambiar a flex para mejor alineación */
    flex-wrap: wrap;
    /* Permitir que las etiquetas se envuelvan */
    gap: 10px;
    /* Espaciado entre etiquetas */
}

.project-links {
    margin-top: 15px;
    /* Aumentar el espacio entre los enlaces del proyecto */
}

.project-links {
    margin-top: 20px;
    /* Aumentar el espacio entre los enlaces del proyecto */
    display: flex;
    /* Hacer que los enlaces se comporten como un flex container */
    justify-content: center;
    /* Centrar los enlaces horizontalmente */
    flex-wrap: wrap;
    /* Permitir que los enlaces se envuelvan si son muchos */
}

.project-link {
    color: #00ff40;
    margin: 0 15px;
    /* Ajustar margen a los lados */
    font-size: 18px;
    text-decoration: none;
}


.project-link:hover {
    color: #ffffff;
}

.project-item img {
    max-width: 100%;
    /* Asegúrate de que la imagen no exceda el ancho del contenedor */
    height: auto;
    /* Mantiene la proporción de aspecto */
    border-radius: 10px;
    margin-left: 20px;
    flex-shrink: 0;
    /* Evita que la imagen se reduzca */
    cursor: pointer;
    transition: transform 0.3s ease;
    /* Suaviza la transformación */
}


/* Añadir un máximo de ancho para la imagen */

.project-item img:hover {
    transform: scale(1.05);
    /* Escala la imagen un 5% al pasar el cursor */
}

/* Sección de Formación */
.education-section {
    padding: 30px;
    margin-top: 10px;
}

.date {
    font-size: 18px;
    color: #53B365;
    background-color: #2d3436;
    padding: 5px 10px;
    border-radius: 15px;
    margin-top: 10px;
    display: inline-block;
    transition: transform 0.3s ease, background 0.3s ease;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    margin-left: 10px;

}

.education-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;
    margin-top: 10px;
}

.education-item i {
    font-size: 35px;
    color: #00ff40;
    margin-right: 20px;
    margin-top: 10px;
}

.education-section h1 {
    font-size: 35px;
}

.education-item div {
    flex: 1;
    margin-top: 10px;
}

.education-item h1 {
    margin: 0;
    font-size: 50px;
    color: #ffffff;
}

.education-item h3 {
    margin: 0;
    font-size: 30px;
    color: #ffffff;
}

.education-item p {
    margin: 20px 0;
    font-size: 30px;
    color: #e4e4e4;
}

.education-item small {
    color: #e4e4e4;
    font-size: 20px;
}

/* Sección de Certificados */

.titulo-certificado {
    margin-left: 3.4rem;
    padding: 0%;
    margin-top: 0;
    padding-top: 0;
}

.certificates-sectio-campus-section {
    padding-top: 0%;
    margin-top: 0%;
    border-bottom: 1px solid #333;
    height: 100vh;
    /* Altura total de la pantalla */
    display: flex;
    justify-content: center;
    /* Centrar horizontalmente */
    align-items: center;
    /* Centrar verticalmente */
    margin-top: 0;
    padding-top: 0;
}

.certificate-solo {
    background-color: #2d3436;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease;
    width: 100%;
    /* Ocupará el 100% del contenedor pero sin sobrepasar el ancho de pantalla */
    max-width: 550px;
    padding: 0;
    padding-top: 0;
    margin-bottom: 0px;
}

.certificate-solo img {
    width: 100%;
    /* La imagen ocupará todo el ancho del contenedor */
    height: 90%;
    display: block;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
    margin-top: 0;
    padding-top: 0;
}

.certificate-solo img:active {
    transform: scale(1.5);
    /* Efecto de zoom al hacer clic */
}


/* Eliminar margen superior */
.certificates-section h1 {
    font-size: 37px;
    margin-left: 30px;
    margin-top: 0;
    padding-top: 0;
}

.certificates-section {
    padding: 0px;
    padding-top: 0;
    /* Eliminar padding superior */
    margin-top: 0;
    /* Eliminar margen superior */
    border-bottom: 1px solid #333;
}

.certificates-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.certificate-item {
    background-color: #2d3436;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    flex: 1;
    margin-bottom: 20px;
}

.certificate-item img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.certificate-item img:active {
    transform: scale(1.5);
}

img:fullscreen {
    width: 100%;
    height: auto;
}

img {
    max-width: 100%;
}

.certificate-item h3 {
    font-size: 18px;
    color: #00ff40;
    margin-bottom: 5px;
}

.certificate-item p {
    font-size: 14px;
    color: #e4e4e4;
}

/* Contacto */


.contact-section {
    background-color: #222;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    margin-left: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #333;
    padding-left: 0px;
    
}

/* Estilos del encabezado */
.contact-section h1 {
    color: #00ff40;
    text-align: center;
    margin: 0 0 20px;
    font-size: 35px;
}

/* Estilos generales del formulario */
.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;

}

/* Estilos de los grupos de formulario */
.form-group {
    margin-bottom: 10px;
    /* Espacio entre los campos */
    width: 100%;
    /* Asegura que ocupe todo el ancho del contenedor */
}

/* Estilos de los inputs y textarea */
.form-control {
    padding: 10px;
    border: 1.5px solid #00ff40;
    /* Color del borde */
    border-radius: 4px;
    /* Bordes redondeados */
    background-color: #333;
    /* Fondo de los inputs */
    color: #fff;
    /* Color del texto */
    transition: border-color 0.3s;
    /* Transición suave para el borde */
    width: 100%;
    /* Ocupa todo el ancho del grupo */
}

/* Cambiar el color del borde al enfocar */
.form-control:focus {
    outline: none;
    border-color: #00cc00;
   
}

/* Estilos del botón */
.btn {
    padding: 10px;

    width: 100%;
    /* Para que ocupe todo el ancho del contenedor */
    background-color: #00ff40;
    /* Color del botón */
    color: #222;
    /* Color del texto del botón */
    border: none;
    /* Sin borde */
    border-radius: 4px;
    /* Bordes redondeados */
    cursor: pointer;
    /* Cambiar el cursor al pasar el mouse */
    transition: background-color 0.3s;
    /* Transición suave para el fondo */
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 26px;
   
}

/* Cambiar el fondo del botón al pasar el mouse */
.btn:hover {
    background-color: #00cc00;
    /* Color de fondo al pasar el mouse */
}

/* Estilo del modal */
.modal {
    display: none; /* Ocultarlo por defecto */
    position: fixed; /* Mantener en posición fija */
    z-index: 1; /* Mostrarlo por encima de otros elementos */
    left: 0;
    top: 0;
    width: 100%; /* Ancho completo */
    height: 100%; /* Alto completo */
    overflow: auto; /* Habilitar desplazamiento si es necesario */
    background-color: rgba(0, 0, 0, 0.7); /* Fondo semi-transparente */
}

/* Contenido del modal */
.modal-content {
    background-color: #222; /* Fondo del modal */
    margin: 15% auto; /* Espaciado en la parte superior */
    padding: 20px; /* Espaciado interno */
    border: 1px solid #00ff40; /* Borde del modal */
    border-radius: 8px; /* Bordes redondeados */
    width: 80%; /* Ancho del modal */
    max-width: 500px; /* Ancho máximo del modal */
    color: #00ff40; /* Color del texto */
    text-align: center; /* Centrar texto */
}

/* Estilo del botón de cerrar */
.close {
    color: #aaa; /* Color del botón de cerrar */
    float: right; /* A la derecha */
    font-size: 28px; /* Tamaño del texto */
    font-weight: bold; /* Negrita */
}

.close:hover,
.close:focus {
    color: #fff; /* Color al pasar el mouse */
    text-decoration: none; /* Sin subrayado */
    cursor: pointer; /* Cambiar cursor al pasar el mouse */
}



/* Pie de página */

.footer {
    color: #e4e4e4;
    padding: 5px;
    text-align: center;
    clear: both;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer p {
    margin: 0;
    color: #e4e4e4;
    font-size: 17px;
}

.footer .social-links {
    margin-top: 10px;
}

.footer .social-links a {
    margin-right: 10px;
    color: #00ff40;
    font-size: 20px;
    text-decoration: none;
  
}

.footer .social-links a:hover {
    color: #ffffff;
}

/* Media Queries para Responsividad */
@media (max-width: 768px) {
    .profile-header {
        flex-direction: column;
    }

    .profile-photo-container {
        width: 150px;
        height: 220px;
    }

    .profile-info h1 {
        font-size: 24px;
    }

    .profile-info p {
        font-size: 1rem;
    }

    .technology-tags {
        grid-template-columns: repeat(2, 1fr);
    }

    .experience-item,
    .education-item,
    .project-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .project-item img {
        max-width: 100%;
        height: auto;
    }

    .certificates-gallery {
        grid-template-columns: repeat(2, 1fr);
    }

    .social-links {
        margin-top: 10px;
        display: flex;
        /* Activa Flexbox */
        align-items: center;
        /* Alinea los íconos verticalmente al centro */
        justify-content: center;
        /* Centra los íconos horizontalmente */
        margin-top: 10px;
        /* Añade un margen superior si es necesario */
    }

   



}
/* Ajustes específicos para responsividad */
@media (max-width: 768px) {
    .project-item {
        flex-direction: column;
        /* Cambiar a columna en pantallas más pequeñas */
        align-items: center;
        /* Centrar elementos */
    }

    .project-item img {
        margin-left: 0;
        /* Eliminar margen a la izquierda */
        margin-bottom: auto;
        /* Agregar espacio debajo de la imagen */
        max-width: auto;
        /* Limitar el ancho máximo de la imagen */
    }

    .titulo-certificado {
        margin-left: 3.4rem;
        padding: 0%;
        padding-top: 0;
    }

    .profile-name {
        margin: 5px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    
}
@media (max-width: 480px) {
    .container {
        padding: 10px;
    }

    h2,
    .projects-section h1,
    .education-section h1 {
        font-size: 24px;
    }

    .profile-info h1 {
        font-size: 20px;
    }

    .profile-info p {
        font-size: 0.9rem;
    }

    .tag {
        font-size: 10px;
    }

    .project-item h3 {
        font-size: 18px;
    }

    .project-item p {
        font-size: 16px;
    }

    .project-item img {
        max-width: 90%;
        height: auto;
    }

    .titulo-proyect {
        margin: 1rem;
    }

   
}




@media (max-width: 480px) {

    .profile-section {
        width: 1000%; 
        margin: 0 auto; 
    }

    .profile-header {
        text-align: center; 
    }

    .profile-photo-container {
        margin: 0 auto; /* Centra la imagen */
    }

    .profile-photo {
        max-width: 150%; 
        height: auto; 
    }
    .titulo-proyect {
        margin: 1.5rem;
    }

    .education-section h1 {
        font-size: 35px;
    }
    .date {
    font-size: 13px;
    padding: 5px 1px;
    border-radius: 10px;
    margin-top: 10px;
    display: inline-block;
    margin-left: 10px;

}

    .certificates-section h1 {
        font-size: 30px;
    }

    .titulo-certificado {
        margin-left: 3.4rem;
        padding: 0%;
        padding-top: 0;
    }


    .contact-section{
        margin-left:0px;
        padding-right: 0px;
    }

    .form-control {
        margin-bottom: 10px;
        width: 90%;
        
    }
    .btn{
        padding: 20px;
        width: 90%;
        margin-right: 35px;
    }

    .contact-section h1 {
        color: #00ff40;
        text-align: center;
        margin: 0 0 20px;
        font-size: 35px;
    }
    .footer {
        color: #e4e4e4;
        padding: 5px;
        text-align: center;
        clear: both;
        position: relative;
        bottom: 0;
        width: 100%;
    }
    
    .footer p {
        margin: 0;
        color: #e4e4e4;
        font-size: 17px;
    }
    
    .footer .social-links {
        margin-top: 10px;
    }
    
    .footer .social-links a {
        margin-right: 10px;
        color: #00ff40;
        font-size: 20px;
        text-decoration: none;
      
    }
    
    .footer .social-links a:hover {
        color: #ffffff;
    }


    
}



