body {
    font-family: Arial, sans-serif;
    background-color: #111210;
    color: #e4e4e4;
    margin: 5px;
    padding: 0px;
}

.container {
    width: 100%;
    max-width: 85%;
    margin: 0 auto; 
    padding: 20px;
}


h2 {
    color: #ffffff;
    margin-bottom: 10px;
}

.profile-section {
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 10px;
    margin-top: 10px;
}

.profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-photo-container {
    position: relative;
    width: 190px; 
    height: 290px; 
    border-radius: 50%; 
    background: linear-gradient(135deg, #333, #333); 
    padding: 4px;  
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); 
    overflow: hidden; 
    margin: 20px;
}

.profile-photo {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    border-radius: 50%; 
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
    max-width: 100%; 
    max-height: 100%; 
}

.profile-photo:hover {
    filter: grayscale(0%); 
    transform: scale(1.05); 
}

.profile-info {
    flex: 1;
    text-align: center;
}

.profile-info h1 {
    margin: 1rem;
    font-size: 30px;
    color: #ffffff;
}

.profile-info p {
    margin: 1rem;
    margin-top: 3px;
    font-size: 1.2rem;
    color: #a8a8a8;
    line-height: 1.4; 
}

.profile-details {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    font-size: 1.2rem;
}

.profile-details p {
    font-size: 16px;
    color: #a8a8a8;
    margin: 3px 0;
}

.social-links {
    margin-top: 10px;
    margin: 1rem;
}

.social-links a {
    margin-right: 10px;
    color: #00ff40;
    font-size: 20px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: #ffffff;
}

/* Biografía de perfil */


.profile-bio {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #333;
}

.profile-bio h1 {
    font-size: 30px;
    color: #ffffff;
}

.profile-bio p {
    font-size: 18px;
    color: #e4e4e4;
}

/* Sección de Tecnologías */
.technologies-section {
    padding: 20px;
    border-bottom: 1px solid #333;
}
.technologies-section h1{
    font-size: 30px;
}
.technology-tags {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 10px; 
}

.tag {
    background-color: #53B365;
    color: #e4e4e4;
    padding: 10px 20px;  
    border-radius: 25px;  
    font-size: 12px;  
    display: flex; 
    justify-content: center;
    align-items: center; 
    height: 20px; 
}

.tag:nth-last-child(1), 
.tag:nth-last-child(2) { 
    grid-column: span 2; 
}




/* Sección de Proyectos */

.projects-section {
    border-bottom: 1px solid #333;
    padding: 20px; /* Aumentar el padding interno */
    max-width: 800px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centrar el contenedor */
}

.projects-section h1 {
    font-size: 20px;
    color: #ffffff; /* Asegúrate de que el título sea legible */
    margin-bottom:30px; /* Aumentar el espacio entre el título y los proyectos */
}

.titulo-proyect
{
  margin: 30px;
}
.project-item {
    display: flex;
    align-items: flex-start; /* Alineación superior para mejor organización */
    justify-content: flex-start; /* Alineación al inicio */
    margin-bottom: 40px; /* Aumentar el espacio entre proyectos */
    background-color: #2d3436;
    padding: 15px; /* Mayor padding interno para más espacio */
    border-radius: 10px;
    flex-wrap: wrap; /* Permitir que el contenido se envuelva */
}

.project-item i {
    font-size: 28px; /* Aumenta el tamaño del ícono */
    color: #00ff40;
    margin-right: 15px;
}

.project-item div {
    flex: 1; /* El contenido ocupa el espacio restante */
}

.project-item h3 {
    margin: 0;
    font-size: 24px; /* Aumenta el tamaño del título */
    color: #ffffff;
}

.project-item p {
    margin: 5px 0;
    font-size: 18px; /* Aumenta el tamaño del párrafo */
}

.project-item small {
    color: #F2E6D5;
    font-size: 14px; /* Aumenta el tamaño del texto pequeño */
}

.project-tags {
    margin-top: 15px; /* Aumentar el espacio entre el contenido y las etiquetas */
    display: flex; /* Cambiar a flex para mejor alineación */
    flex-wrap: wrap; /* Permitir que las etiquetas se envuelvan */
    gap: 10px; /* Espaciado entre etiquetas */
}

.project-links {
    margin-top: 15px; /* Aumentar el espacio entre los enlaces del proyecto */
}

.project-links {
    margin-top: 20px; /* Aumentar el espacio entre los enlaces del proyecto */
    display: flex; /* Hacer que los enlaces se comporten como un flex container */
    justify-content: center; /* Centrar los enlaces horizontalmente */
    flex-wrap: wrap; /* Permitir que los enlaces se envuelvan si son muchos */
}

.project-link {
    color: #00ff40;
    margin: 0 15px; /* Ajustar margen a los lados */
    font-size: 18px;
    text-decoration: none;
}


.project-link:hover {
    color: #ffffff;
}

.project-item img {
    max-width: 100%; /* Asegúrate de que la imagen no exceda el ancho del contenedor */
    height: auto; /* Mantiene la proporción de aspecto */
    border-radius: 10px;
    margin-left: 20px;
    flex-shrink: 0; /* Evita que la imagen se reduzca */
    cursor: pointer;
    transition: transform 0.3s ease; /* Suaviza la transformación */
}


/* Añadir un máximo de ancho para la imagen */

.project-item img:hover {
    transform: scale(1.05); /* Escala la imagen un 5% al pasar el cursor */
}

/* Sección de Formación */
.education-section {
    padding: 20px;
}

.education-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.education-item i {
    font-size: 24px;
    color: #00ff40;
    margin-right: 15px;
}

.education-section h1 {
    font-size: 30px;
}

.education-item div {
    flex: 1;
}

.education-item h1 {
    margin: 0;
    font-size: 30px;
    color: #ffffff;
}

.education-item h3 {
    margin: 0;
    font-size: 22px;
    color: #ffffff;
}

.education-item p {
    margin: 20px 0;
    font-size: 25px;
    color: #a8a8a8;
}

.education-item small {
    color: #777;
    font-size: 17px;
}

/* Sección de Certificados */
.certificates-section {
    padding: 20px;
    border-bottom: 1px solid #333;
}

.certificates-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    gap: 20px;
}

.certificate-item {
    background-color: #2d3436;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    flex: 1;
    margin-bottom: 20px;
}

.certificate-item img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 100%; 
    height: auto; 
    cursor: pointer;
    transition: transform 0.3s ease; 
}

.certificate-item img:active {
    transform: scale(1.5); 
}

img:fullscreen {
    width: 100%;
    height: auto;
}

img {
    max-width: 100%;
}

.certificate-item h3 {
    font-size: 18px;
    color: #00ff40;
    margin-bottom: 5px;
}

.certificate-item p {
    font-size: 14px;
    color: #e4e4e4;
}

/* Pie de página */
.footer {
    padding: 20px;
    text-align: center;
    border-top: 1px solid #333;
    margin-top: 20px;
}

.footer p {
    margin: 0;
    color: #e4e4e4;
    font-size: 17px;
}

.footer .social-links {
    margin-top: 10px;
}

.footer .social-links a {
    margin-right: 10px;
    color: #00ff40;
    font-size: 20px;
    text-decoration: none;
}

.footer .social-links a:hover {
    color: #ffffff;
}

/* Media Queries para Responsividad */
@media (max-width: 768px) {
    .profile-header {
        flex-direction: column;
    }

    .profile-photo-container {
        width: 150px;
        height: 220px;
    }

    .profile-info h1 {
        font-size: 24px;
    }

    .profile-info p {
        font-size: 1rem;
    }

    .technology-tags {
        grid-template-columns: repeat(2, 1fr);
    }

    .experience-item, .education-item, .project-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .project-item img {
        max-width: 100%;
        height: auto;
    }

    .certificates-gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .container {
        padding: 10px;
    }

    h2, .projects-section h1, .education-section h1 {
        font-size: 24px;
    }

    .profile-info h1 {
        font-size: 20px;
    }

    .profile-info p {
        font-size: 0.9rem;
    }

    .tag {
        font-size: 10px;
    }

    .project-item h3 {
        font-size: 18px;
    }

    .project-item p {
        font-size: 16px;
    }

    .project-item img {
        max-width: 100%;
        height: auto;
    }
}
.project-item img {
    max-width: 100%; /* Asegúrate de que la imagen no exceda el ancho del contenedor */
    height: auto; /* Mantiene la proporción de aspecto */
    border-radius: 10px;
    margin-left: 20px;
    flex-shrink: 0; /* Evita que la imagen se reduzca */
    cursor: pointer;
    transition: transform 0.3s ease; /* Suaviza la transformación */
    
}

/* Ajustes específicos para responsividad */
@media (max-width: 768px) {
    .project-item {
        flex-direction: column; /* Cambiar a columna en pantallas más pequeñas */
        align-items: center; /* Centrar elementos */
    }

    .project-item img {
        margin-left: 0; /* Eliminar margen a la izquierda */
        margin-bottom: 10px; /* Agregar espacio debajo de la imagen */
        max-width: 90%; /* Limitar el ancho máximo de la imagen */
    }
}

@media (max-width: 480px) {
    .project-item img {
        max-width: 100%; /* Asegúrate de que las imágenes sean completamente responsivas */
        height: auto; /* Mantiene la proporción de aspecto */
    }
}
